/* ====================================
// css variables
// ==================================== */

:root {
  color: #ffe4ae;
  color: #030303;
  color: #bd685f;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #030303;
  font-size: 1rem;
  line-height: 1.25;
}

.navigation {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffe4ae;
  font-family: "Montserrat", sans-serif;
  background-color: #030303;
}

header {
  background-image: url(../img/charleston-club.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 2;
}

.titre {
  text-align: center;
  margin-top: 16%;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffe4ae;
  font-family: "Jomolhari", serif;
}

a {
  color: inherit;
}

h2 {
  padding: 0%;
}

.h2-nav-2 {
  color: #bd685f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  font-size: 10px;
}

.h2-nav {
  color: #bd685f;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 30px 30px 0 30px;
  text-align: center;
  font-size: 10px;
}

p {
  color: #ffe4ae;
  font-family: "Jomolhari", serif;
  padding: 30px;
  text-align: center;
  font-size: 13px;
}

@media (min-width: 768px) {
  .align-left {
    text-align: left;
  }
}

.texte-carte {
  padding: 0;
}

.img-site {
  display: flex;
  justify-content: center;
}

.img-dress-code {
  width: 100;
  height: auto;
}

.texte-carte {
  text-align: center;
}

.container-button {
  display: flex;
  justify-content: center;
}

.button-infos {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px 5px 10px;
  color: #ffe4ae;
  border-radius: 20px;
  background-color: #030303;
  border-color: #bd685f;
}

.button-reservation {
  font-size: 18px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px 5px 10px;
  margin: 30px 0 0 0;
  color: #bd685f;
  border-radius: 20px;
  background-color: #030303;
  border-color: #ffe4ae;
}

img {
  justify-content: center;
  padding: 30px 0 30px 0;
}

.cocktail-img {
  padding: 0 0 30px 0;
}

.container-açren {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.açren {
  font-family: "Jomolhari", serif;
}

.açren p {
  font-size: 15px;
  padding: 0%;
  color: #ffe4ae7e;
}

.container-açren .left {
  align-self: flex-start;
}

.container-açren .right {
  align-self: flex-end;
}

.footer {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.footer-content {
  border: #bd685f solid 2px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content div {
  width: 20px;
}

.img-insta {
  width: 10;
  height: auto;
}

/*Base Rules*/

.row div {
  margin-bottom: 10px;
}
